*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    
@font-face{
font-family: "LongaIberica";
src: url('./fonts/LongaIberica-DEMO.ttf');
}

@font-face{
font-family: "NearAldus";
src: url('./fonts/NearAldus.ttf');}

@font-face{
font-family: "PfefferMediaeval";
src: url('./fonts/PfefferMediaeval.otf');
}

#cellNavbar{
    background-color: #9476f5;
}

.title{
    font-family: NearAldus;
}

#subtitles{
    font-family: NearAldus;
    font-size: xx-large;
}

.avatar{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.skillsTitles{
    font-family: PfefferMediaeval;
    font-size: larger;
}

#projectsCard{
    box-shadow: 5px 5px 13px 1px #9476f5;
}

.list-group-item{
    background-color: #000000;
    border-color: #ffffff;
}

a:hover{
    color: #9476f5;
}

footer{
    background-color: #9476f54c;
    width: 100%;
}